In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r'C:\Users\MY MAC\OneDrive\Desktop\Machine Learning Algo Practice\Encoding techniques\Ordinal Encoding\customer.csv')

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df.shape

(50, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        50 non-null     int64
 1   gender     50 non-null     object
 2   review     50 non-null     object
 3   education  50 non-null     object
 4   purchased  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [6]:
df.isnull().sum()

age          0
gender       0
review       0
education    0
purchased    0
dtype: int64

In [7]:
df.review.value_counts()

review
Poor       18
Good       18
Average    14
Name: count, dtype: int64

In [8]:
df.review.unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [9]:
df.education.value_counts()

education
PG        18
School    16
UG        16
Name: count, dtype: int64

In [10]:
df.education.unique()

array(['School', 'UG', 'PG'], dtype=object)

In [11]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [12]:
from sklearn.preprocessing import OrdinalEncoder

In [13]:
oencoder = OrdinalEncoder(categories=[['Average', 'Poor', 'Good']])
df['review'] = oencoder.fit_transform(df[['review']])

In [14]:
oencoder = OrdinalEncoder(categories=[['School', 'UG', 'PG']])
df['education'] = oencoder.fit_transform(df[['education']])

In [16]:
df.head()

   age  gender  review  education purchased
0   30  Female     0.0        0.0        No
1   68  Female     1.0        1.0        No
2   70  Female     2.0        2.0        No
3   72  Female     2.0        2.0        No
4   16  Female     0.0        1.0        No